@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

:root {
  --primary: hsl(179, 62%, 43%);
  --second-primary: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  /* --weights: 400, 700 */
}

.card {
  border-radius: 0.3em;
  box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
  margin: 1em;
}
.card__header,
.card__main,
.card__desc {
  padding: 1.5em 1em;
}

.card__header__title,
.card__main__title,
.card__desc__title {
  margin-bottom: 1em;
}

.card__header {
  background-color: white;
}

.card__header__title {
  color: var(--primary);
}

.card__header__subtitle {
  color: var(--second-primary);
  margin-bottom: 1em;
}

.card__header__desc {
  color: var(--grayish-blue);
}

.card__main,
.card__desc {
  color: white;
}
.card__main {
  background-color: var(--primary);
}

.card__main__price {
  margin-bottom: 0.5em;
}

.card__main__price__num {
  font-size: 2rem;
  font-weight: 700;
}

.card__main__price__unit {
  color: var(--light-gray);
}

.card__main__desc {
  margin-bottom: 1em;
}

.card__main__sign-up {
  display: block;
  color: white;
  background-color: var(--second-primary);
  text-decoration: none;
  text-align: center;
  border-radius: 0.3em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.card__desc {
  background-color: darkturquoise;
}

@media (min-width: 600px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .card__header,
  .card__main,
  .card__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card__header {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .card__main {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .card__desc {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
}
